<!DOCTYPE html>
<html lang="en">
<%-include('./templates/header.ejs')%>
<body>
    
    
    <div class="container">
        <h1>Agregar plato</h1>

        <!--FORMULARIO-->







        <a href="/" class="btn-secondary btn mt-2 mb-4">Regresar</a>
    </div>
    
    <!--FOOTER QUE EJECTURA UN SCRIPT PARA EL BOOTSTRAP-->
    <%-include('./templates/footer.ejs')%>
</body>
</html>