<!DOCTYPE html>
<html lang="en">
<%-include('./templates/header.ejs')%>
<body>
    
    <div class="container">
        <h1>Menú de alimentos</h1>
        <ul>
            <%dishes.forEach(function(dish){%>
                <li>
                    Nombre: <%= dish.name%>
                </li>
            <% }); %>
        </ul>
    </div>
    

    <%-include('./templates/footer.ejs')%>
</body>
</html>